#cartera-zona {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px; /* Tamaño estable */
    height: 350px; /* Tamaño estable */
    position: relative;
    margin: 0 auto;
    overflow: hidden; 
    
    /* ESTO LE DA LOS BORDES REDONDEADOS */
    border: 3px solid #f7cdcd; /* Borde suave */
    border-radius: 30px;      /* Bordes redondeados */
    background-color: rgba(255, 255, 255, 0.5); /* Un fondo suave para que contraste */
}

#cartera-fondo {
    max-width: 90%; /* Asegura que la imagen no toque los bordes */
    max-height: 90%;
    pointer-events: none;
}

/* Ajuste específico para móvil para que no se rompa el diseño */
@media (max-width: 768px) {
    #cartera-zona {
        width: 300px;
        height: 300px;
    }
}
